# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:
print(df['Total Claim Amount'])

#Convert 'Total Claim Amount' to interger
df['Total Claim Amount'] = df['Total Claim Amount'].astype(int)

print(df['Total Claim Amount'])

print('Los nulos son:', df['Total Claim Amount'].isnull().sum()) # Check for null values

0         292.800000
1         744.924331
2         480.000000
3         484.013411
4         707.925645
            ...
10905    1214.400000
10906     273.018929
10907     381.306996
10908     618.288849
10909    1021.719397
Name: Total Claim Amount, Length: 10910, dtype: float64
0         292
1         744
2         480
3         484
4         707
         ...
10905    1214
10906     273
10907     381
10908     618
10909    1021
Name: Total Claim Amount, Length: 10910, dtype: int64
Los nulos son: 0

In [3]:
df['Response'].unique() # Check unique values in 'Response' column

array(['No', 'Yes', nan], dtype=object)

In [4]:
#1. Create a new DataFrame that only includes customers who:
   #- have a **low total_claim_amount** (e.g., below $1,000),
   #- have a response "Yes" to the last marketing campaign.

low_claim_df = df[(df['Total Claim Amount'] < 1000) & (df['Response'] == 'Yes')]

low_claim_df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60,Four-Door Car,Medsize,NaN

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [5]:
#the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes"

subset = ['Policy Type','Gender']

avg_values = df[df['Response'] == 'Yes'].groupby(subset)[['Monthly Premium Auto', 'Customer Lifetime Value', 'Total Claim Amount']].mean().reset_index()

avg_values


#INSIGHTS:

# 1. Policy Type: 
# Customers with 'Personal Auto' policies tend to have lower average total claim amounts compared to those with 'Corporate Auto' policies. 
# This suggests that 'Personal Auto' customers may represent a lower-risk segment for the company.

# 2. Gender: 
# Female customers generally have slightly lower average total claim amounts than male customers, indicating that female customers may be a more profitable segment for the company.

,Policy Type,Gender,Monthly Premium Auto,Customer Lifetime Value,Total Claim Amount
0,Corporate Auto,F,94.301775,7712.628736,433.295858
1,Corporate Auto,M,92.188312,7944.465414,408.123377
2,Personal Auto,F,98.998148,8339.791842,452.498148
3,Personal Auto,M,91.085821,7448.383281,456.576493
4,Special Auto,F,92.314286,7691.584111,452.857143
5,Special Auto,M,86.343750,8247.088702,429.125000

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [6]:
#3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

state_counts = df['State'].value_counts()

filtered_states = state_counts[state_counts > 500]

filtered_states

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [7]:
#4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

CLV_analysis = df.groupby(['Education','Gender'])['Customer Lifetime Value'].agg(['max','min','median']).reset_index()

CLV_analysis

#INSIGHTS:
# 1. Education Level:
#Customers with Bachelor or College education levels show the highest customer lifetime value, while Doctor and Master levels show lower averages.

# 2. Gender:
#Gender differences vary by education level. 
#Male customers show higher CLV in some segments (High School or Below College), while females lead in others (Bachelor, Doctor).
#There is no consistent gender advantage across all levels.

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [15]:
#5. The marketing team wants to analyze the number of policies sold by state and month.
#Present the data in a table where the months are arranged as columns and the states are arranged as rows.


# First, ensure that the 'Effective To Date' column is in datetime format
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

# Extract month from 'Effective To Date'
df['Month'] = df['Effective To Date'].dt.month_name()

# Create a pivot table with states as rows and months as columns
# The dataset column is named 'Number of Policies' — sum it to get total policies sold per state/month

policy_pivot = pd.pivot_table(
    df,
    index='State',
    columns='Month',
    values='Number of Policies',
    aggfunc='sum',
    fill_value=0
)

policy_pivot = policy_pivot.reindex(columns=[
    'January', 'February'
])
    
policy_pivot

Month       January  February
State
Arizona        3052      2864
California     5673      4929
Nevada         1493      1278
Oregon         4697      3969
Washington     1358      1225

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [ ]:
#1. Group the data by state and month, then count the number of policies sold for each group.
# Afterwards, you will need to sort the data by the count of policies sold in descending order.

policy_counts = df.groupby(['State', 'Month'])['Number of Policies'].sum().reset_index()
policy_counts = policy_counts.sort_values(by='Number of Policies', ascending=False)
policy_counts

        State     Month  Number of Policies
3  California   January                5673
2  California  February                4929
7      Oregon   January                4697
6      Oregon  February                3969
1     Arizona   January                3052
0     Arizona  February                2864
5      Nevada   January                1493
9  Washington   January                1358
4      Nevada  February                1278
8  Washington  February                1225

In [ ]:
#2. Select the top 3 states with the highest number of policies sold.

top_states = policy_counts.groupby('State')['Number of Policies'].sum().nlargest(3).reset_index()
top_states

        State  Number of Policies
0  California               10602
1      Oregon                8666
2     Arizona                5916

In [ ]:
#3. Create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.

state_list = top_states['State'].tolist()
top_state_policies = policy_counts[policy_counts['State'].isin(state_list)]
top_state_policies

        State     Month  Number of Policies
3  California   January                5673
2  California  February                4929
7      Oregon   January                4697
6      Oregon  February                3969
1     Arizona   January                3052
0     Arizona  February                2864

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
#7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

#Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

melted_df = pd.melt(
    df,
    id_vars=['Response'],
    value_vars=['Sales Channel'], #derretimos las columnas de canales de marketing
    var_name='Marketing Channel', #nombre de variable de la nueva columna
    value_name='Channel Type' #nombre de la nueva columna con los valores de Sales Channel
)

melted_df.head()

  Response Marketing Channel Channel Type
0       No     Sales Channel        Agent
1       No     Sales Channel  Call Center
2       No     Sales Channel  Call Center
3      Yes     Sales Channel       Branch
4       No     Sales Channel       Branch

In [ ]:
# Calcular el % de respuestas "Yes" por tipo de canal
response_rate = (
    melted_df.groupby('Channel Type')['Response'] #agrupa todas las filas por cada tipo de canal y dentro de cada grupo, nos quedamos con la serie de respuestas
    .apply(lambda x: (x == 'Yes').mean()) #aplica una funcion lambda que calcula el porcentaje de respuestas "Yes" en cada grupo
    .reset_index(name='Response Rate') #crea un nuevo DataFrame con el resultado
)

response_rate

  Channel Type  Response Rate
0        Agent       0.180053
1       Branch       0.107876
2  Call Center       0.103223
3          Web       0.108856